/* TABLE OF CONTENTS */
/* 0 -- Global Concerns */
/* 1 -- Headers */
/* 2 -- Sections */
/* 3 -- App Body */
/* END TABLE OF CONTENTS */


/* 0 -- GLOBAL CONCERNS */
* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    /* CUSTOM COLORS */
    --orange-soda: #F06543;
    --orange-soda-light: #f0664382;
    --platinum: #E8E9EB;
    --alabaster: #E0DFD5;
    --onyx: #313638;
    --sandy-brown: #F09D51;
    --nice-blue: rgb(152, 209, 211);
    /* END - CUSTOM COLORS */
}

html {
    min-height: 100vh;
}

body {
    display: flex;
    flex-flow: column;
    height: 100vh;
}
/* END - 0 -- GLOBAL CONCERNS */

/* 1 -- HEADERS */
h1 {
    font-family: 'Pacifico', sans-serif;
    font-weight: 400;
    font-size: 3em;
    color: var(--onyx);
}

h2 {
    font-family: 'Pacifico', sans-serif;
    font-size: 1.75em;
    margin: 5px;
}

h3 {
    font-family: "Lato", sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: var(--platinum);
}

h4 {
    font-family: "Saira Extra Condensed", monospace;
    color: whitesmoke;
    font-size: 1.5em;
}
/* END - 1 -- HEADERS */

/* 2 -- SECTIONS */
.header {
    background-color: var(--sandy-brown);
    padding: 15px 30px;
    border-bottom: 5px solid var(--onyx);
}

.app-header {
    display: flex;
    align-items: center;
}

.date-string {
    font-family: 'Pacifico';
    font-weight: 100;
    display: flex;
    align-items: flex-end;
    font-size: 2.25em;
    color: var(--onyx);
}

.app-container {
    background-color: var(--alabaster);
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 0 50px 0;
}

.app-header-container {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.date {
    display: flex;
    justify-content: center;
    width: 50%;
}

.day {
    width: 30%;
    text-align: center;
    padding: 5px;
    margin: 0 10px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1em;
}

.add-task-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    background-color: var(--nice-blue);
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 15px;
    position: fixed;
    cursor: pointer;
    top: 10px;
    right: 150px;
}

.btn:hover {
    background-color: var(--orange-soda);
}

.btn-text {
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: var(--onyx);
}

.input-task {
    padding: 5px;
    margin: 0 10px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1em;
}

.footer {
    background-color: var(--onyx);
    padding: 15px 30px;
    height: 5vh;
    /* position: relative; */
    /* border-top: 2px solid var(--onyx); */
}

.footer-text {
    color: whitesmoke;
}
/* END - 2 -- SECTIONS */

/* 3 -- APP BODY */
.slide {
    background-color: var(--nice-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: -360px;
    width: 300px;
    height: 100%;
    border-radius: 15px 0 0 15px;
    transition: right 250ms ease-in-out;
    padding: 30px;
}

.new-task-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.new-task-header {
    padding: 5px 0;
}

.new-task-name-input {
    font-size: 1.5em;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.new-task-name {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

#new-task-notes {
    /* width: 95%; */
    padding: 10px;
    height: 275px;
    border-radius: 5px;
}

.slide-header {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.slide-header h2 {
    font-weight: 100;
    color: var(--onyx);
}

.slide.active {
    right: 0px;
}

.app-body {
    background-color: var(--orange-soda);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
    padding: 15px;
    height: fit-content;
    width: 50%;
    border-radius: 15px;
    border: 8px double var(--platinum);
}

.task-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}

.delete-button {
    background-color: var(--onyx);
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 15px;
    border: 3px solid var(--platinum);
    margin: 10px;
    align-self: center;
    align-items: center;
}

.delete-button:hover {
    background-color: var(--platinum);
    border-color: var(--onyx);
    color: var(--onyx);
    cursor: pointer;
}

.X {
    font-family: monospace;
    font-size: 36px;
    color: var(--onyx);
    text-align: center;
    font-weight: 600;
    width: 100%;
}

.notes-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: fit-content;
}

.fa-toilet-paper {
    color: whitesmoke;
    width: 100%;
    font-size: 30px;
}

.fa-toilet-paper:hover {
    cursor: pointer;
    color: var(--nice-blue);
}

.task {
    background-color: var(--onyx);
    width: 80%;
    height: 80px;
    border-radius: 15px;
    margin: 3px;
    border: 3px solid var(--platinum);
}

.task-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 15px;
}

.task-display-status-section {
    display: flex;
    align-items: center;
}

.task-display-status-section h4, 
.task-text h3{
    margin: 10px;
}

.dropbtn-live {
    width: 110px;
    display: flex;
    justify-content: center;
}

.task-display-status-section .dropbtn-live {
    border-radius: 10px;
}

.dropbtn-live:hover {
    cursor: pointer;
}

.notes-section {
    background-color: var(--platinum);
    display: none;
    border-radius: 15px;
    border: 3px solid var(--onyx);
    width: 70%;
    padding: 15px;
    margin: 0 0 20px 0;
    font-family: "Lato";
}

/* END - 3 -- APP BODY */

/* DROP DOWN */
.dropbtn, 
.dropbtn-live {
    background-color: var(--sandy-brown);
    color: whitesmoke;
    padding: 5px 11px;
    font-size: 1.25em;
    font-weight: 400;
    border: 3px solid black;
    font-family: "Lato", sans-serif;
}

.dropdown-content {
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 1.25em;
    display: none;
    position: absolute;
    background-color: var(--alabaster);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#new-task-status-dropbtn {
    width: 150px;
}

ul {
    list-style: none;    
}

li {
    padding: 5px 10px;
}

/* .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
} */

/* .dropdown-content a:hover {
    background-color: #ddd;
    cursor: pointer;
} */

.dropdown-content.active {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: whitesmoke;
    cursor: pointer;
    color: black;
}

.status-text {
    font-size: 25px;
    color: black;
}

.status-text:hover {
    cursor: pointer;
    background-color: var(--orange-soda-light) !important;
}

/* --orange-soda: #F06543;
--orange-soda-light: #f0664382;
--platinum: #E8E9EB;
--alabaster: #E0DFD5;
--onyx: #313638;
--sandy-brown: #F09D51;
--nice-blue: rgb(152, 209, 211); */


#status-0 { /* Not Started */
    background-color: rgb(128, 213, 165);
}

#status-1 { /* Started */
    background-color: rgb(72, 247, 204);
}

#status-2 { /* Planning */
    background-color: rgb(152, 152, 211);
}

#status-3 { /* Planned */
    background-color: rgb(152, 83, 211);
}

#status-4 { /* Scheduling */
    background-color: rgb(211, 152, 193);
}

#status-5 { /* Scheduled */
    background-color: rgb(211, 76, 173);
}

#status-6 { /* Completed */
    background-color: rgb(68, 237, 107);
}
/* DROP DOWN */